body {
    display: flex;
    flex-direction: column;
    width: 99%;
    
}

*{
    font-family: 'Montserrat', sans-serif;
     
 }
 

img{
    width: 30%;
    margin-left: 35%;
}

.legal{
    text-align: center;
    margin-left: 0%;
}

a{
    text-decoration: none;
}

.link{
    font-size: 1.2em    ;
}

.botones{
    display: flex;
    width: 100%;
    flex-direction:row-reverse;
    align-items: center;
    justify-content:center;
    gap: 10%;
}

.aceptar{
    flex: 1;
    width: 100%;
    background-color: #089130;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 0.1% 0.5% 0.1% 0.5%;
    border-style: solid;
    border-radius: 10px;
    border-color: #058129;
    transition: 5s background-color width;
}

.aceptar:hover{
    width: 110%;
    background-color: #AFFF33;
    cursor: pointer;
    
}

.rechazar{
    width: 100%;
    background-color: #965C07;
    color: white;
    font-size: 1.6em;
    text-align: center;
    padding: 0.1% 0.5% 0.1% 0.5%;
    border-style: solid;
    border-radius: 10px;
    border-color: #845509;
    transition: 1s background-color;
}

.rechazar:hover{
    background-color: #B31111;
}



@media (max-width: 768px){

.botones{
    flex-wrap:wrap;
}

}