* {
    -webkit-app-icon: url('./imagenes/nunPtah256.ico');
    -moz-application-icon: url('./imagenes/nunPtah256.ico');
    -ms-application-icon: url('./imagenes/nunPtah256.ico');
    -application-icon: url('./imagenes/nunPtah256.ico');
  }
  